
<!DOCTYPE html>
<html>
<head>
	<title>Login - Twitter Help Desk | Pramod Mahato</title>
  <link type="text/css" href="/static/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1f2f41323d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav" style="">

    <div class="items" style="margin-top: 20px;padding-left: 15px !important"><img src="/static/logo.png" height="30px"></div>
    <br>
    <br>
    <div class="items"><i class="fa fa-clock-o" aria-hidden="true" style="size: 200px;"></i></div>
    <div class="items"><i class="fa fa-home" aria-hidden="true"></i></div>
    <div class="items"><i class="fa fa-users" aria-hidden="true"></i></div>
    <div class="items"><i class="fa fa-comments" aria-hidden="true"></i></div>
    <div class="items"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
    <div class="items"><i class="fa fa-store" aria-hidden="true"></i></div>

<div class="bottom">
  <div class="items"><i class="fa fa-cog" aria-hidden="true"></i></div>
    <div class="items"><i class="fa fa-users" aria-hidden="true"></i></div>
</div>

</div>
<div class="right">

  <section class="header" style="top: 25">
    <span class="underline">Updates</span>
    <div class="header-right">
      <div class="header-right-item">
        Session Inactive
      </div>
      <div class="header-right-item">
        User: Not Logged In
      </div>
    </div>
  </section><br>
  <br>
  <section style="margin-top: 60px; margin:auto;margin-left:auto;margin-right:auto;">
   <div class="parent_data" style="margin-left:30%;">
      <div class="parent_item" style="width: 280px;">
        <label style="margin-left: 45px;">Log In to Your Twitter</label>
        <br>
        <br>
          <div class="input-icons">  
            <i class="fa fa-user icon"></i> 
            <input class="input-field" type="text" placeholder="Username"> 
          </div> 
        <div class="input-icons">  
            <i class="fa fa-key icon"></i> 
            <input class="input-field" type="text" placeholder="Password"> 
        </div> 
        <div class="input-icons">  
            
            <button class="input-field btn signin" text="Filter" > Sign In </button>

        </div> 

        <label style="margin-left: 115px;">Or</label>
        <div class="input-icons" >  
            
           <a href="/login/twitter"> <button class="input-field btn signin twitter" style="width: 200px !important; background-color: #34b3bb; margin-left: 25px;" ><i class="fa fa-twitter"></i>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign In with Twitter</button></a>
        </div> 
      </div>
   </div>
  </section>

</div>
</body>
</html>